
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      Change Password
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signup-wrapper">
      <h2>Change Password</h2>
      <div class="signup-with-wrapper">
      </div>
      <div class="or-sctn">
          <h1></h1>
      </div>
      <div class="signup-form">
              <div class="form-group">

                <input type="password" [(ngModel)]="curpass" class="form-control input password" placeholder="Current Password">
              </div>
              <div class="form-group">
                  <input type="password" [(ngModel)]="pass" class="form-control input password" placeholder="New Password">
              </div>
              <div class="form-group">
                <input type="password" [(ngModel)]="cpass" class="form-control input password" placeholder="Confirm Password">
            </div>
              <button (click)="changePass()">Change Password</button>
              
         
      </div>
      <div class="signup-footer">
          <!-- <h2>By signing Up, I agree to the <span>Terms & Conditions</span></h2>
          <h2>Already have an account? <span (click)="goToPage('login')">Login</span></h2> -->
         
          
      </div>
  </div>

</ion-content>