<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        Update Profile
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <div class="signup-wrapper">
      <!-- <h1>Update Profile</h1> -->
      <div class="signup-with-wrapper">
          <!-- <button>Register with <img src="../../assets/img/icon-facebook-2.svg"></button>
          <button>Register with <img src="../../assets/img/icon-google-2.svg"></button> -->
      </div>
      <div class="or-sctn">
          <!-- <h1>OR</h1> -->
      </div>
      <div class="signup-form">
          
              <div class="form-group">
                  <input type="text" class="form-control input profile" [(ngModel)]="fullname" placeholder="Full Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input profile" [(ngModel)]="username" placeholder="Username">
            </div>
              <div class="form-group">
                  <input type="number" class="form-control input phonenumber" [(ngModel)]="phone" placeholder="Phone Number" readonly>
                  <!-- <label>You'll receive an OTP for verification</label> -->
              </div>
              <div class="form-group">
                  <input type="text" class="form-control input mail" [(ngModel)]="email" placeholder="Email Address" readonly>
                  <!-- <label>No spam, we promise!</label> -->
              </div>
              <button (click)="updateProfile()">Update Profile</button>
              
         
      </div>
      <!-- <div class="signup-footer">
          <h2>By signing Up, I agree to the <span>Terms & Conditions</span></h2>
          <h2>Already have an account? <span (click)="goToPage('login')">Login</span></h2>
         
          
      </div> -->
  </div>

</ion-content>